<%= form_with(model: show, local: true) do |form| %>
  <% if show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% show.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :play_time %>
    <%= form.datetime_select :play_time %>
  </div>

  <div class="field">
    <%= form.label :channel_id %>
    <%= form.select :channel_id ,options_for_select(Channel.all.pluck(:name,:id))%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
